<html>

	<head>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="/static/css/sticky_footer.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	</head>

	<body>

		<header>

			<div class="navbar-fixed">
		    <nav>
		      <div class="nav-wrapper teal">
		        <a href="#!" class="brand-logo center">Pure Yield™ Plasmid Miniprer System</a>
		      </div>
		    </nav>
		  </div>

		</header>

		<main>

				<div class="row">

					<div class="col s3">
							<div class="pushpin-demo-nav pinned z-depth-2" style="height:100%;width:20%;background-color:#05132d;">

						</div>
					</div>

					<div class="col s9">
						<h1>TITLE</h1>
						<h1>TITLE</h1>
						<h1>TITLE</h1>
						<h1>TITLE</h1>
						<h1>TITLE</h1>
						<h1>TITLE</h1>
						<h1>TITLE</h1>
						<h1>TITLE</h1>
						<h1>TITLE</h1>

					</div>

				</div>

		</main>

		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="/static/javascript/base_sideNavBar.js"></script>

	</body>

</html>
