<html>

	<head>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="../static/css/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<style>

			.side-nav li.active {
				background-color: transparent;
			}

		</style>

	</head>

	<body>

		<header>
				<nav class="top-nav fixed">
			    <div class="nav-wrapper teal">
			      <a href="#" class="brand-logo center" style="font-size:3vmin;"><b>Pure Yield™ Plasmid Miniprep System</b></a>
						<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			    </div>
			  </nav>

						<!-- SMALL LATERAL NAV BAR -->

						<div class="side-nav fixed grey-text text-darken-4" id="mobile-demo">
							<div class="row">
								<div class="col s12">
									<div class="row">
									</div>

									<!-- DYNAMIC DATA-->

									<ul class="collapsible z-depth-0" data-collapsible="expandable" style="border:0;">
										<li>
											<div class="collapsible-header" style="border:0">
												<div class="row">
													<div class="col s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>i</b></a>
													</div>
													<div class="col s8 offset-s1">
														<h5>Resumo</h5>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="collapsible-header" style="border:0">
												<div class="row">
													<div class="col s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>ii</b></a>
													</div>
													<div class="col s8 offset-s1">
														<h5>Materiais</h5>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="collapsible-header" style="border:0">
												<div class="row">
													<div class="col s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>1</b></a>
													</div>
													<div class="col s8 offset-s1">
														<h5>Preparação</h5>
													</div>
												</div>
											</div>
											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>1.1</b></a>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="collapsible-header" style="border:0">
												<div class="row">
													<div class="col s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>2</b></a>
													</div>
													<div class="col s8 offset-s1">
														<h5>Lavagem</h5>
													</div>
												</div>
											</div>
											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>2.1</b></a>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="collapsible-header" style="border:0">
												<div class="row">
													<div class="col s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>3</b></a>
													</div>
													<div class="col s8 offset-s1">
														<h5>Eluição</h5>
													</div>
												</div>
											</div>
											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>3.1</b></a>
													</div>
												</div>
											</div>

											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>3.1</b></a>
													</div>
												</div>
											</div>

											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>3.1</b></a>
													</div>
												</div>
											</div>

											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>3.1</b></a>
													</div>
												</div>
											</div>

											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>3.1</b></a>
													</div>
												</div>
											</div>

											<div class="collapsible-body" style="border:0">
												<div class="row">
													<div class="col s3 offset-s3">
														<a class="btn-floating btn waves-effect waves-light teal hoverable"><b>3.1</b></a>
													</div>
												</div>
											</div>
										</li>
									</ul>

									<!-- END DYNAMIC DATA -->

								</div>
							</div>
						</div>

						<!-- END SMALL LATERAL NAV BAR -->



		</header>

		<main>

				<div class="row">

					<!-- MAIN CONTENT -->

					<div class="col s10 offset-s1 l7 offset-l4">

						<div class="row">
						</div>

						<div class="row">

							<div class="card">
								<div class="card-content teal white-text">
									<div class="row">
										<div class="col s2 l1">
											<a class="btn-floating btn waves-effect waves-light white teal-text"><b>i</b></a>
										</div>
										<div class="col s8 l10">
											<span class="card-title"><strong>Resumo<strong></span>
										</div>
									</div>
									<div class="row">
										<div class="col s1">
											<i class="material-icons">business</i>
										</div>
										<div class="col s2">
											<b>Promega</b>
										</div>
										<div class="col s1">
											<i class="material-icons">timer</i>
										</div>
										<div class="col s2">
											<b>10 min</b>
										</div>
										<div class="col s1">
											<i class="material-icons">remove_red_eye</i>
										</div>
										<div class="col s3">
											<b>513 views</b>
										</div>
										<div class="col s1">
											<i class="material-icons">star</i>
										</div>
										<div class="col s1">
											<b>8.7</b>
										</div>
									</div>
								</div>
								<div class="card-action">
									<p>
									The PureYieldTM Plasmid Miniprep System(a) isolates high-quality plasmid DNA for use in eukaryotic transfection and
									in vitro expression experiments. The system provides a rapid method to purify plasmid DNA using a silica-membrane
									column. Plasmid DNA can be purifi ed in less than 10 minutes, depending on the number of samples processed, greatly
									reducing the time spent compared to silica resin or other membrane column methods.For more information, check the
									complete protocol on the button below.
									</p>
									<div class="center-align">
										<a class="waves-effect waves-light btn" href="https://www.promega.com.br/-/media/files/resources/protocols/technical-bulletins/101/pureyield-plasmid-miniprep-system-protocol.pdf">Protocol</a>
									</div>
									<div class="row">
									</div>
									<div class="divider"></div>
									<div class="row">
									</div>
									<div class="video-container">
										<iframe width="853" height="480" src="http://dngkkzi55e3lb.cloudfront.net/protocol/VPA1221/VPA1221_1303.mp4" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="row">
									</div>
									<div class="divider"></div>
									<div class="row">
									</div>
									<div class="center-align">
										<a class="waves-effect waves-light btn">Iniciar</a>
									</div>
									</div>
								</div>
							</div>

						</div>




					</div>

				<!-- END MAIN CONTENT -->

				</div>

		</main>

		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="../static/javascript/index.js"></script>

	</body>

</html>
