<html>

	<head>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="../static/css/profile.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	</head>

	<body>

		<header>

      <nav>
        <div class="nav-wrapper teal">
          <a href="#" class="brand-logo center">Digital Experiments</a>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>

      </nav>

    </header>

    <main>

      <div class="container">
        <ul id="slide-out" class="side-nav fixed teal z-depth-4">
          <li>
            <div class="user-profile teal">
              <div class="row">
              </div>
              <div class="row">
                <div class="center-align">
                  <a href="#!user"><img class="circle responsive horevable" width="150" src="../static/images/profile.png"></a>
                </div>
                <div class="row">
                </div>
              </div>
            </div>
          </li>
          <li class="white"><a href="#!"><i class="material-icons" style="color:teal">person</i>Marcela Ribeiro</a></li>
          <div class="divider"></div>
          <li class="white"><a href="#!"><i class="material-icons" style="color:teal">account_balance</i>University of São Paulo</a></li>
          <div class="divider"></div>
          <li class="white"><a href="#!"><i class="material-icons" style="color:teal">school</i>Biology Department</a></li>
          <div class="divider"></div>
          <li class="white"><a href="#!"><i class="material-icons" style="color:teal">book</i>Undergraduate Student</a></li>
        </ul>
      </div>


      <div class="center-align">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <h3 style="color:teal">Handwritten Lab Notebooks no more!</h3>
        <div class="row">
        </div>
        <h4 style="color:teal">Embrace the digital era and make experiments faster.</h4>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <a href="../templates/index.html" class="waves-effect waves-light btn-large pulse"><strong>Try it now</strong></a>
      </div>

    </main>

  </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../static/javascript/profile.js"></script>

</html>
