<html>

	<head>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="../static/css/indexStyle.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	</head>

	<body>

		<header>

		</header>

		<main style="font-size: 20; text-align: center; background-color: #009688; color: #FFFFFF">
		Sobre o projeto:
		</br>

			O projeto visa auxiliar cientistas a realizarem procedimentos através de protocolos.

			</br></br>


		Sobre o grupo:
		</br></br>
		André Marcos Perez:
		</br>Estudante de Engenharia Eletrônica da USP - Campus São Carlos
		</br>andre.marcos.perez@usp.br
		</br></br>
		Enzo Hideki Nakamura:
		</br>Estudante de Ciência da Computação do IME - USP
		</br>enzo.nakamura@usp.br
		</br></br>
		Pedro Teotônio de Sousa:
		</br>Estudante de Ciência da Computação do IME - USP
		</br>pedro.teotonio.sousa@usp.br
		</br></br>
		Pedro Vítor Bortolli Santos:
		</br>Estudante de Ciência da Computação do IME - USP
		</br>pedro.vitor.santos@usp.br
		</br></br>
		<div align="center"><a class="btn waves-effect waves-light teal hoverable" href="http://immense-mountain-72504.herokuapp.com/" style="background-color: red; width:200; height:50;">Voltar</a></div>
		</main>

		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="../static/javascript/index.js"></script>

	</body>

</html>