<html>
<head>
<title>teste</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<script language = "javascript" type = "text/javascript">

$.post("/", {load: "protocol1"}, function(data, status){
	console.log("Data: " + data + "\nStatus: " + status);
	var text = ""
	for (i in data[1]) {
		text += data[1][i].html
	}
	document.getElementById("testdiv").innerHTML=text;
	console.log(JSON.stringify(data))
});

function hasClass(element, cls) {
    return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
}

function check(x) {
	var lista = document.getElementsByClassName(x);

	for (var i = 0; i < lista.length; i++) {
		if (lista[i].type == "checkbox") {
			if (!lista[i].checked && hasClass(lista[i], "mandatory")) return;
		}
		else if (lista[i].type == "file") {
			if (lista[i].value == "" && hasClass(lista[i], "mandatory")) return;
			var file = lista[i].files[0];
			var reader = new FileReader();
			var result;
			reader.readAsDataURL(file);
			reader.onload = function() {
				result = reader.result;
				$.post("/", {depois: result}, function(data, status){
				console.log("Data: " + data + "\nStatus: " + status);
				console.log(JSON.stringify(data))
			});
			}
		}
		else if (lista[i].type == "text") {
			if (!lista[i].value && hasClass(lista[i], "mandatory")) return;
			$.post("/", {depois: lista[i].value}, function(data, status){
				console.log("Data: " + data + "\nStatus: " + status);
				console.log(JSON.stringify(data))
			});
		}
	}
}

</script>
<body>
<div id="testdiv">
</div>
</body>
</html>
