<html>
<head>
<title>teste</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<script language = "javascript" type = "text/javascript">

$.post("/", {load: "protocol1"}, function(data, status){
	console.log("Data: " + data + "\nStatus: " + status);
	var text = ""
	for (i in data) {
		text += data[i].html
	}
	document.getElementById("testdiv").innerHTML=text;
	console.log(JSON.stringify(data))
});

function hasClass(element, cls) {
    return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
}

function check(x) {
	var lista = document.getElementsByClassName(x);

	var ret = [];
	for (var i = 0; i < lista.length; i++) {
		if (lista[i].type == "checkbox") {
			if (!lista[i].checked && hasClass(lista[i], "mandatory")) return;
		}
		else if (lista[i].type == "file") {
			if (lista[i].value == "" && hasClass(lista[i], "mandatory")) return;
			
			var file = lista[i];

			if (file.files.length) {
				var reader = new FileReader();
				reader.onload = function(e) {
					ret.push({a : e.target.result});
					console.log(e.target.result)
				};
				reader.readAsBinaryString(file.files[0]);
			}
		}
		else if (lista[i].type == "text") {
			if (!lista[i].value && hasClass(lista[i], "mandatory")) return;
			ret.push({b : lista[i].value});
		}
	}
	//consertar ret
	console.log(ret);

	//mandar pro server (deu bom)
	$.post("/", {depois: ret}, function(data, status){
			console.log("Data: " + data + "\nStatus: " + status);
			console.log(JSON.stringify(data))
	});
}

</script>
<body>
<div id="testdiv">
</div>
</body>
</html>
